<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>It is a scum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        .center {
            background-color: #505050;
            margin: auto;
            width: 100%;
            padding: 30px;
        }
    </style>
</head>
<body class="center">
<div>
    <h2 style="color: red"> hand histories only since August</h2>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <br>
        <br>
        <input type="submit" value="Upload" name="submit">
        <br>
        <br>
    </form>
    <form action="/download">
        <input type="submit" value="download">
    </form>
    <br>
    <br>
    <!--//TODO сетка в таблице-->
    <table class="table" style="border: #505050" th:if="${result.size()>0}">

        <thead>
        <tr style="background-color: chocolate">
            <th style="width: 1cm" scope="col">Limit</th>
            <th style="width: 5px" scope="col">Hands</th>
            <th style="width: 5px" scope="col">Hands/Hour</th>
            <th style="width: 5px" scope="col">GG Rake</th>
            <th style="width: 5px" scope="col">JP Rake</th>
            <th style="width: 10px" scope="col">Jackpots</th>
            <th style="width: 10px" scope="col">Buffet</th>
            <th style="width: 10px" scope="col">Profit</th>
            <th style="width: 10px" scope="col">Profit/hour</th>

        </tr>
        </thead>
        <tr style="background-color: darkgray" th:each="entry,iterStat : ${result}"
            th:if="not ${entry.key.name().equals('UNK') or entry.key.name().equals('TOTAL')}"
            th:with="hands=${entry.value.numberOfHands}
                   ,stake=${entry.key.toString().substring(2)}
                   ,rakeGG=${entry.value.generalRake}
                   ,rakeJP=${entry.value.jackpotRake}
                   ,profit=${entry.value.profit}
                   ,handsPerHour=${entry.value.handsPerHour}
                   ,ante=${entry.key.getAnteByStake(entry.key)}
                   ,jpCount=${entry.value.JPCount}
                   ,jackpots=${entry.value.JPCount*59*entry.key.getAnteByStake(entry.key)}
                   ,buffet=${(entry.value.generalRake+entry.value.jackpotRake)*0.1}
                   ,hours=${entry.value.numberOfHands/entry.value.handsPerHour}">

            <td th:text="${stake}"></td>
            <td th:text="${hands}"></td>
            <td th:text="${#numbers.formatDecimal(handsPerHour,0,0)+' ('+ #numbers.formatDecimal(hours,0,0)+'h)' }"></td>
            <td th:text="${#numbers.formatDecimal(rakeGG,0,0)} + ' ' +'('+ |${#numbers.formatDecimal(rakeGG/hands/ante*100,0,1)}|+')'"></td>
            <td th:text="${#numbers.formatDecimal(rakeJP,0,0)} + ' ' +'('+ |${#numbers.formatDecimal(rakeJP/hands/ante*100,0,1)}|+')'"></td>
            <td th:text="${#numbers.formatDecimal(jackpots,0,0)} +' ' +'['+ |${#numbers.formatDecimal(jpCount/hands*1000,0,1)}|+']'+ ' ' +'('+ |${#numbers.formatDecimal(jackpots/hands/ante*100,0,1)}|+')'"></td>
            <td th:text="${#numbers.formatDecimal(buffet,0,0)} + ' ' +'('+ |${#numbers.formatDecimal(buffet/hands/ante*100,0,1)}|+')'"></td>
            <td th:text="${#numbers.formatDecimal(profit+buffet+jackpots,0,0)} + ' ' +'('+ |${#numbers.formatDecimal((profit+buffet+jackpots)/hands/ante*100,0,1)}|+')'"></td>
            <td th:text="${#numbers.formatDecimal((profit+buffet+jackpots)/hours,0,0)}"></td>
        </tr>
        <tr th:if="${totals.count > 1}" style="background-color: lightslategray"
            th:with="hands=${totals.numberOfHands}
                    ,rakegg=${totals.generalRake}
                    ,rakejp=${totals.jackpotRake}
                    ,handsPerHour=${totals.handsPerHour}
                    ,jackpots=${totals.JPCount}
                    ,profit=${totals.profit}
                    ,buffet=${(totals.jackpotRake+totals.generalRake)*0.1}
                    ,hours=${totals.numberOfHands/totals.handsPerHour}">


            <td th:text="-_-"></td>
            <td th:text="${hands}"></td>
            <td th:text="${#numbers.formatDecimal(handsPerHour,0,0)+' ('+ #numbers.formatDecimal(hours,0,0)+'h)'}"></td>
            <td th:text="${#numbers.formatDecimal(rakegg,0,0)}"></td>
            <td th:text="${#numbers.formatDecimal(rakejp,0,0)}"></td>
            <td th:text="${#numbers.formatDecimal(jackpots,0,0)}"></td>
            <td th:text="${#numbers.formatDecimal(buffet,0,0)}"></td>
            <td th:text="${#numbers.formatDecimal(profit+buffet+jackpots,0,0)}"></td>
            <td th:text="${#numbers.formatDecimal((profit+buffet+jackpots)/hours,0,0)}"></td>
        </tr>
    </table>
    <div style="margin-top: 200px;size: 24px;color: black">
    <span> (x) where x is ante/100</span>
    <br>
    <span> [x] where x is amount jackpots per 1k hands</span>
    </div>


</div>
</body>
</html>
